*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-family: arial;
    color: aliceblue;
    margin-top: 5vmin;
}
body{
    background-color: rgb(23, 76, 78);
    display: flex;
    justify-content: center;
}
.container{
    height: 60vh;
    width: 60vh;
    margin-top: 6vmin;
}
.board{
    height: 60vmin;
    background-color: cadetblue;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    height: 16vmin;
    width: 16vmin;
    margin: 0.8vmin;
    border-radius: 10px;
    font-size: 12vmin;
    color: rgb(104, 1, 1);
    background-color: rgb(232, 248, 249);
}
.reset{
    height: 6vmin;
    width: 16vmin;
    margin-top: 5vmin;
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    color: white;
    border: none;
    font-weight: bold;
}
.msgcontainer{
    height: 10vmin;
    display: flex;
    justify-content: center;
}
.msg{
    color:rgb(218, 176, 185);
    font-size: 8vmin;
    text-align: center;
}
.hide{
     display: none;
}